USE [master]
GO
/****** Object:  Database [PeriodistasSMS]    Script Date: 27-02-2017 18:43:04 ******/
CREATE DATABASE [PeriodistasSMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PeriodistasSMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PeriodistasSMS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PeriodistasSMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PeriodistasSMS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PeriodistasSMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PeriodistasSMS]
GO
/****** Object:  UserDefinedTableType [dbo].[BusquedaIdProductos]    Script Date: 27-02-2017 18:43:04 ******/
CREATE TYPE [dbo].[BusquedaIdProductos] AS TABLE(
	[IdPrdct] [int] NULL
)
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 27-02-2017 18:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cola]    Script Date: 27-02-2017 18:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cola](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [varchar](160) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ColaProducto]    Script Date: 27-02-2017 18:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColaProducto](
	[IdProducto] [int] NOT NULL,
	[IdCola] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaTermino] [date] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_ColaProductoId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contenido]    Script Date: 27-02-2017 18:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contenido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [varchar](160) NOT NULL,
	[FechaEnvio] [date] NULL,
	[Enviado] [bit] NULL,
	[Tag] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 27-02-2017 18:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[IdCategoria] [int] NULL,
	[Atemporal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductoContenido]    Script Date: 27-02-2017 18:43:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoContenido](
	[IdProducto] [int] NOT NULL,
	[IdContenido] [int] NOT NULL,
 CONSTRAINT [pk_ProdCont] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdContenido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Contenido] ADD  CONSTRAINT [DF_Enviado]  DEFAULT ((0)) FOR [Enviado]
GO
ALTER TABLE [dbo].[ColaProducto]  WITH CHECK ADD  CONSTRAINT [fk_IdCola] FOREIGN KEY([IdCola])
REFERENCES [dbo].[Cola] ([Id])
GO
ALTER TABLE [dbo].[ColaProducto] CHECK CONSTRAINT [fk_IdCola]
GO
ALTER TABLE [dbo].[ColaProducto]  WITH CHECK ADD  CONSTRAINT [fk_IdProducto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[ColaProducto] CHECK CONSTRAINT [fk_IdProducto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [fk_CatProd] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [fk_CatProd]
GO
ALTER TABLE [dbo].[ProductoContenido]  WITH CHECK ADD  CONSTRAINT [fk_Cont] FOREIGN KEY([IdContenido])
REFERENCES [dbo].[Contenido] ([Id])
GO
ALTER TABLE [dbo].[ProductoContenido] CHECK CONSTRAINT [fk_Cont]
GO
ALTER TABLE [dbo].[ProductoContenido]  WITH CHECK ADD  CONSTRAINT [fk_Prod] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[ProductoContenido] CHECK CONSTRAINT [fk_Prod]
GO
ALTER TABLE [dbo].[ColaProducto]  WITH CHECK ADD  CONSTRAINT [chk_FechaInicio_MenorOIgualA_FechaTermino] CHECK  (([FechaTermino]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[ColaProducto] CHECK CONSTRAINT [chk_FechaInicio_MenorOIgualA_FechaTermino]
GO
USE [master]
GO
