

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 15%;
    height: 100%;
    color: #e1ffff;
}
.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
    .collapsed{
    .arrow:before{
    font-family: FontAwesome;
    content: "\f053";
    display: inline-block;
    padding-left:10px;
    padding-right: 10px;
    vertical-align: middle;
    float:right;
}
}
*/
}
/*
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
}
*/

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-side-menu .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu .active-t1 {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}

.sub-entry.active{
    border: none;
    color: #d19b3d;
}
.sub-sub-entry.active{
    border: none;
    color: #d19b3d;
}

.nav-side-menu a:hover {
    color: #d19b3d;
}


@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0px;
    padding: 0px;
}

.nav-side-menu span {
    float:right;
    margin-top: 5%;
    margin-right: 5%;
}
.entry {
    padding-left: 30px;
}
.sub-entry {
    padding-left: 33px;
}
.sub-sub-entry {
    padding-left: 63px;
}




#page-content {
  overflow: auto;
  font-family: verdana;
  font-size: 11px;
  position: relative;
  top: 0px;
  left: 15%;
  width: 82%;
  height: 100%;
  margin: 1.5%;
}
.btn.btn-default {
    margin-bottom: 15px;
}
.btn.btn-primary {
    margin-bottom: 15px;
}
.btn.btn-default.modal-btn {
    margin-bottom: 15px !important;
}

.btn.btn-primary.btn-title {
    margin-right: 25px !important;
}

#message-status {
    display: inline-block;
    margin-left: 10px;
    bottom: 10px;
}
.status-msg {
    display: inline-block;
    margin-left: 10px;
}
#search-form {
    margin-top: 20px;
}
#edit-form {
    margin-top: 20px;
}
#title {
    margin-top: 0px;
    text-align: center;
}


hr {
    border-top-color: #aaa !important;
}

.title-inline {
    display: inline-block;
    margin-right: 20px;
    margin-left: 15px;
}


tfoot {
    display: table-header-group;
}

.search-foot input {
  width: 100%;
}

.search-foot select {
  width: 100%;
}

/* Límite de texto en cada celda de la tabla */
.dataTable td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Altura de filas de la tabla */
table.table.table-lucas > tbody > tr > td {
    padding: 4px 5px;
}

/* Para agrandar un poco los text inputs col-md-1 en smsSearch.html */
.sm-left {
    padding-left: 0px !important;
}
.sm-right {
    padding-right: 0px !important;
}

.vert-span {
    height: 10px;
}
.hor-span {
    width: 10px;
}

/* Textos de los labels no en negrita */
label.highlight {
    font-weight: normal;
}

input.form-control, textarea.form-control {
    height: auto;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: normal;
}
